* {
	text-align: center;
}

h1 {
	color:white;
	font-family: "Times New Roman", Times, serif;
	border-style: solid;
	border: 200px 200px;
	padding: 50px;
}
h2 {
	color:white;
	font-family: "Times New Roman", Times, serif;
	border: ;
	padding: 50px;

}
h3 {
	color:white;
	font-family: "Times New Roman", Times, serif;
}
body {
	background-color: orange;
}	

